@media screen and ( min-width: 600px){
    body{
        margin: 0;
     
    }

    .container ,img{
        width: 100%;
      
       
      }
    .recipe{
        display: grid;
           grid-template-columns:  1fr 1fr  ;
           grid-gap: 20px;
       
       }

 
   

       main{
        margin: 0 100px;
       }

       .footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
       margin: 0 20px;
       }

 
       #menu {
		display: none; /* hide hamburger button */
	}
	header {
		display: flex;
		align-items: center;
	justify-content: space-between;
	}
	.navigation {
       
        justify-content: flex-end;
		flex-direction: row;
       

      
	}

    .navigation a {
        display: flex;
    
        color:black;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }


    

       
   }