body{
  margin: 0;
}


header{
  background-color: #E4C59E;
  text-align: center;

}
.container {
    position: relative;
    text-align: center;
    
 
   
  }

 

  main{
    display: grid;
    grid-template: 1fr;
    margin: 0 10px;
    
 
  }

h2{
  text-align: center;

}

  .weather, data{
    margin: 0 10px;
   
  }
  hr{
    background-color: black;
    color: black;
  }
  .back{
    background-color: green;
    height: 10px;
  }
  .back2{
    background-color:  #080d10;
    height: 10px;
  }

  .move2{
    text-align: center;
  }

